.container.narrow.guidecontainer
  .row
    .span9
      .span9.offset1{:style =>"background-color:#FFF;"}
        %h1{:style => "font-family:'apercu',helvetica,sans-serif;text-align:center;padding-top:20px;"}
          = @guide.title
          %td
        %tr
          -@guide_user = User.find(@guide.user_id)
        %tr
          %td
            %h6.tagline
              =@guide.category
          %td
            = image_tag(@guide_user.img, :size => "20x20", :style =>"border-radius:10px;")
            .btn
              - url = '/'+@guide_user.to_param.split(" ").join
              = link_to @guide_user.name,'/users/profile?user_id='+@guide.user_id.to_s        
            - if(@guide_user.uid == session[:user_id])
              .btn
                = link_to "Edit",edit_guide_path(@guide)
      .span9.offset1{:style =>"background-color:#FFF;"}
        #map_canvas{:style =>"width:100%;height:200px;border-radius:10px;margin-top:20px;"}
        %br 
        %div
          - @mkr = {}
          - @mkr['lat'] = []
          - @mkr['lng'] = []
          - @mkr['name'] = []
          -@locations.each do |location|
            - @mkr['lat'] << location.lat
            - @mkr['lng'] << location.long
            - @mkr['name'] << location.name
            %table.table.striped
              %tr
                %td
                  =image_tag(location.foursquare_image_url, :size => "75x75", :style =>"padding:5px;border:1px solid #DDDDDD;border-radius:3px;")
                %td{:style =>"font-family: 'Georgia', sans-serif; font-weight:bold;"}= location.name
                %td= location.tag
                %td{:style =>"font-family: 'Georgia', sans-serif; font-weight:normal;font-style:italic;"}= location.why_i_like
                %td= location.category
                %td
                  %button.saveguide{:type => "submit" } + Add to guide
          -@length = @mkr['lat'].length


    
:javascript

  !function(d,s,id){
  var js,fjs=d.getElementsByTagName(s)[0];
  if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
  $('document').ready(function(){
      var directionDisplay;
      var directionsService = new google.maps.DirectionsService();
      //var directionsDisplay = new google.maps.DirectionsRenderer();
      
      var map; 
      var lat;
      var lng;
    /* HTML 5 geolocation. */
          if(#{@guide.lat} && #{@guide.lng}){
          lat = #{@guide.lat};
          lng = #{@guide.lng};
          }
          else{
          lat = 40.714623;
          lng = -74.006605;
          }
          var myOptions = {
            zoom: 14,
            center: new google.maps.LatLng(lat, lng),
            mapTypeId: google.maps.MapTypeId.ROADMAP
          };
          directionsDisplay = new google.maps.DirectionsRenderer();
          directionsDisplay.suppressMarkers = true;
          map = new google.maps.Map(document.getElementById('map_canvas'),  myOptions);
          directionsDisplay.setMap(map);
          var len = parseInt('#{@length}')
          lats = #{@mkr["lat"]}
          lngs = #{@mkr["lng"]}
          names = #{@mkr["name"]};
          var waypts = [];
          if(len > 2){
          for(i = 1;i<len-1;i++){
            waypts.push({
                location:new google.maps.LatLng(lats[i], lngs[i]),
                stopover:true
            })
          }
          }
          var request = {
                          origin:new google.maps.LatLng(lats[0], lngs[0]),
                          destination:new google.maps.LatLng(lats[len-1], lngs[len-1]),
                          waypoints: waypts,
                          optimizeWaypoints: true,
                          travelMode: google.maps.TravelMode.DRIVING
                      };
                      directionsService.route(request, function(result, status) {
                          if (status == google.maps.DirectionsStatus.OK) {
                            directionsDisplay.setDirections(result);
                          }
                      });
          for(i=0;i<len;i++)
          {
                console.log("inside for loop")
                switch(i)
                {
                      case 0:
                        image_url = "http://i.imgur.com/Aquit.png"
                        break;
                      case 1:
                        image_url = "http://i.imgur.com/Yd3Vk.png"
                        break;
                      case 2:
                        image_url = "http://i.imgur.com/7dXVu.png"
                        break;
                      case 3:
                        image_url = "http://i.imgur.com/oXSO1.png"
                        break;
                      case 4:
                        image_url = "http://i.imgur.com/n56IU.png"
                        break;
                      case 5:
                        image_url = "http://i.imgur.com/plOUM.png"
                        break;
                      case 6:
                        image_url = "http://i.imgur.com/JX8JN.png"
                        break;
                      case 7:
                        image_url = "http://i.imgur.com/GUMDT.png"
                        break;
                      case 8:
                        image_url = "http://i.imgur.com/TGwLF.png"
                        break;
                      case 9:
                        image_url = "http://i.imgur.com/VaYnu.png"
                        break;
                      default:
                        image_url = "http://i.imgur.com/Aquit.png"
                        break;
                }      
                //image_url = "http://chart.apis.google.com/chart?chst=d_map_pin_letter&chld="+(i+1)+"|FF0000|000000"
                var marker = new google.maps.Marker({
                            position: new google.maps.LatLng(lats[i], lngs[i]),
                            map: map,
                            icon: image_url
                        });
               marker.setMap(map);
               
               
                     
                     
          
              
  		     }       
          });
    